.posicion_1{
  position: absolute;
  top:  100px;
  left: 460px;
}

.stiloEmpleado{
  position: absolute;
  top:  260px;
  left: 300px;
}

.stiloUsuario{
  position: absolute;
  top:  260px;
  left: 10px;
}
.btn_inicio{
  position: absolute;
  top:  -100px;
  left: 550px;
}
.btn_inicio_UsuarioEmple{
  position: absolute;
  top:  -200px;
  left: 850px;
}

.iniciox{
  position: absolute;
  top:  12%;
  left:94.5%;
}

.iniciox_ventas{
  position: absolute;
  top:  12%;
  left:93.5%;
}
.iniciox_Almacen{
  position: absolute;
  top:  -60%;
  left: 1380%;
}
.btn_inicio_almacen{
  position: absolute;
  top:  -170%;
  left:1350%;
}

.iniciox_Almacen_emple{
  position: absolute;
  top:  -70%;
  left: 654%;
}
.btn_inicio_almacen_emple{
  position: absolute;
  top:  -170%;
  left:640%;
}


.General{
     	position: absolute;
	    left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
    	-webkit-transform: translate(-50%, -50%);
}
.posicion_Ventas_1{
  position: absolute;
  top:  50px;
  left: 100px;
}
.posicion_Ventas_2{
  position: absolute;
  top:  100px;
  left: 200px;
}
.posicion_Ventas_3{
  position: absolute;
  top:  100px;
  left: 700px;
}
.posicion_Ventas_4{
  position: absolute;
  top:  60%;
  left: 13%;
}
.posicion_principal{
  position: absolute;
  top:  10%;
  left: 80%;
}
