.posicion_1{
  position: absolute;
  top:  100px;
  left: 460px;
}

.stiloEmpleado{
  position: absolute;
  top:  260px;
  left: 300px;
}

.stiloUsuario{
  position: absolute;
  top:  260px;
  left: 10px;
}
.btn_inicio{
  position: absolute;
  top:  -150px;
  left: 850px;
}
.iniciox{
  position: absolute;
  top:  17%;
  left:94.5%;
}

.General{
     	position: absolute;
	    left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
    	-webkit-transform: translate(-50%, -50%);
}
.posicion_Ventas_1{
  position: absolute;
  top:  50px;
  left: 100px;
}
.posicion_Ventas_2{
  position: absolute;
  top:  100px;
  left: 200px;
}
.posicion_Ventas_3{
  position: absolute;
  top:  100px;
  left: 700px;
}
.posicion_Ventas_4{
  position: absolute;
  top:  60%;
  left: 13%;
}
.posicion_principal{
  position: absolute;
  top:  10%;
  left: 80%;
}
