input {
    border-color: green;
    background-color:transparent;

}
body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
    background: url(../Imagenes/fondazo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
