body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
    background: url(../Imagenes/fondazo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.sidebar {

    position: relative;
    height: auto;
    width: auto;
    top: auto;
    left: auto;
    z-index: auto;
    background-color: #00324b;
    overflow-x: hidden;
    transition: 0.8s;
    padding:1%;
    box-sizing:border-box;
}

.sidebar ul, .sidebar li{

    margin:30px;
    list-style:none inside;
}

.sidebar ul {
    margin: 0%;
    display: block;
    width: 80%;
    min-width:20px;


}

.sidebar a {
    font-style: oblique;
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    padding:0px;
}

.sidebar a:hover{
    color:#fff;
    background-color: #f90;
    padding:5px;

}

h1 {
    color:#EFEC1B;
    font-size:180%;
    font-weight:normal;
    font-weight: bold;
}
#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;
    font-weight: bold;
}

#abrir {

}
#cerrar {
    display:none;
}
